body {
    background: rgb(255,168,235);
    background: linear-gradient(0deg, rgba(255,168,235,1) 0%, rgba(152,255,235,1) 100%);
    min-height: 100vh;
}

h1 {
    font-size: 64px;
    color: red;
}

p {
    font-size: 24px;
}

img {
    width: 300px;
}